<h1>List of Users</h1>
 <div *ngFor="let u of user.getUserDetails()">
	<p>{{u}}</p>
</div> 

<div  *ngIf="webservice.isTrueVal">
 	<p>UserID: {{(webservice.jsondata | async) | json}}</p>
</div>

<!-- <div *ngFor="let u of webservice.getJSONArrayVal()">
<p>{{u[0]}}</p>
</div> -->
 Enter User Name: <input (keyup)="onKey($event)"> 
<p>Value: {{value}}</p> 
<button (click) ="webservice.fetchDataFromServer()"> FetchData_SpringRESTAPI </button>


<!-- <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

  <input type="text" [(ngModel)]="data.name"/>
  <input type="text" [(ngModel)]="data.password"/>
  
  <button type="submit">Send</button>
</form> -->

<!-- <button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button> -->
<div>
</div>
 <app-login></app-login> 



